.App {
  padding: 40px;
  text-align: center;
}

textarea{
  width: 200px;
  height: 100px;
}

.cardwrapper{
  display: flex;
  flex-wrap: wrap;
}

.card{
  padding: 25px;
  border: 1px solid #cccccc;
  max-width: 20%;
  margin: 10px;
  position: relative;
}

.card span{
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid red;
  border-radius: 50%;
  width: 15px;
  cursor: pointer;
}
